# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.c9/
*.launch
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
config.gypi

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

./package-lock.json
package-lock.json
/lib/jasperreports-4.6.0
#.env
/logs/*.log
public

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

./package-lock.json
package-lock.json

# Enviroments  
environment.pro.ts
environment.devS.ts
.env.pro

#reedis
redis
/reedis


#docker
docker-compose.prod.yml
Dockerfile.prod

#archivos
/docSubidos

#jasper
*.jrxml
